	<style type="text/css">
		input{
			display: inline-block;
			padding: 6px 10px;
		}
	</style>
	<h3 style="text-align: center; margin-bottom: 20px; ">Thông tin cá nhân</h3>
	<div class="group">
		<label >Họ và tên:</label>
<<<<<<< HEAD
		<input style="width:50%" type="text" name="fullname" disabled value="<%= user.name %>">
=======
		<input style="width:50%" type="text" name="fullname" disabled value="<%= @user.name %>">
>>>>>>> upstream/master
	</div>

